@import "./variables";
@import "./mixins";
.contacts {
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-size: 50% 50%, 50% 50%;
  display: flex;
  width: 100%;
  // padding: 50px 2%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: #f1f4fd;
  @include box-shadow($container-shadow);
}

.contacts-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.contacts-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 10px;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* padding: 0 5%; */
}

.contact-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.contact-media {
  width: min-content;
  border-radius: 100px;
  background-color: $pink;
  margin-bottom: 10px;
  margin-right: 10px;
  // border: solid 1px #4759f5;
  height: min-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  color: white;
}
.contact-media:hover {
  background-color: $bg-color;
}
.contact-media:hover i {
  color: $white;
}
.contact-media__img {
  width: 100%;

  border-radius: 20px;
  height: 100%;
}
.contact-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.contact-title {
  font-family: "Rubik";
}
.contact-title__content {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}
.contact-text__content {
  font-size: 15px;
}

.contact-point-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.contact-point__icon {
  color: #3548f8;
  margin-right: 10px;
  padding: 5px;
  border: #3548f8 1px solid;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-point__content {
  margin-bottom: 0px;
  font-size: 13px;
  color: rgb(80, 80, 80);
  font-family: "Noto Sans JP", sans-serif;
}

.contacts-form,
.contacts-form-content,
.contacts-form-container,
.email-container,
.submit-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contacts-form {
  /* padding: 0 5%; */
}
.names-container,
.email-container,
.message-container,
.submit-btn-container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}
.names-container div {
  width: 50%;
}
.first-name__content,
.last-name__content,
.email__content,
.message__content,
.submit-btn__content {
  width: 100%;
  border: solid 1px gainsboro;
  border-radius: 15px;

  padding: 5px 10px;
}
.submit-btn-container{
  justify-content: center;
}
.submit-btn__content {
  background-color: $btn-color;
  color: #fff;
  padding: 5px 0;
  width: 50%;

}
input::-webkit-input-placeholder {
  font-size: 12px;
}

@media only screen and (min-width: 992px) {
  .contacts-heading {
    margin-bottom: 50px;
  }
  .contacts-info-container {
    flex-direction: row;

    width: 70%;
  }
  .contacts-content,
  .contacts-form {
    width: 50%;
    justify-content: space-around;
  }

  .contact-container {
    flex-direction: row;
    margin-bottom: 10px;

    width: 100%;
    justify-content: center;
  }

  .contact-media {
    margin-right: 10px;
  }
  .contact-media__img {
  }
  .contact-content {
    justify-content: flex-start;
  }
  .contact-points {
    width: 100%;
  }
  .first-name-container {
    margin-right: 10px;
  }
  .first-name__content,
  .last-name__content,
  .email__content,
  .message__content,
  .submit-btn__content {
    padding: 8px 20px;
  }
}
