@import "./mixins";
@import "./variables";

.footer {
  display: flex;
  width: 100%;
  // padding: 50px 2%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $bg-color;
  color: white;
  // padding: 30px 0;
}
.footer::before {
  content: " ";
  display: block;
  background-color: white;
  height: 200px;
  width: 100%;
  background-repeat: none;
  background-size: cover;
  background-image: url("../assets/wave-footer.svg");
}
.footer h4 {
  font-size: 15px;
  color: white;
}
.footer p {
  font-size: 12px;
  color: white;
}
.footer-heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.footer-info-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 10px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0 5%; */
}

.footer-content > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
}
div.newsletter-container {
  order: 9;
  width: 80%;
}
.names-container div {
  width: 50%;
}
div.social-media-container i {
  margin-bottom: 20px;
  color: lighten($btn-color, 50%);
}

.newsletter-email {
  border-radius: 20px;

  border: none;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 10px;
}
.newsletter-subscribe__btn {
  border: none;
  padding: 5px;
  background-color: $btn-color;
  color: white;
  border-radius: 20px;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .footer h4 {
    font-size: 15px;
    color: white;
  }
  h4.brand-title__content {
    font-size: 20px;
    font-family: "Noto Sans JP";
    font-weight: bold;
  }
  .footer p {
    font-size: 12px;
    color: #b4b9ee;
  }
  input::-webkit-input-placeholder {
    font-size: 12px;
  }
  .contacts-heading {
    margin-bottom: 50px;
  }
  .footer-info-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
  }
  .footer-content {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .footer-content > div {
    margin-right: 20px;
    min-width: 20%;
  }
  .footer-content > div:last-child {
    min-width: min-content;
    width: min-content;
    margin-left: 10px;
  }
  div.newsletter-container {
    order: initial;
  }
  .newsletter-email,
  .newsletter-subscribe__btn {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .first-name__content,
  .last-name__content,
  .email__content,
  .message__content,
  .submit-btn__content {
    padding: 8px 20px;
  }
}
