.services {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f1f4fd;
}

.services-container {
  padding-top: 20px;
}
.services-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.services-heading__title {
  font-family: "Rubik";
}
.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  width: 100%;

  margin-bottom: 30px;
  transition: all 0.2s ease-in;
  transition-delay: 0.3s;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
}
.service-container:hover {
  transform: scale(1.1, 1.1);

  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
  /* border-top: 1px solid blue; */
}
.service-container:hover .service-media__img path,
.service-container:hover .service-title__content {
  fill: #4759f5;
  color: #4759f5;
}
.service-container:hover .service-media i {
  color: white;
}
.services-content-container,
.services-content,
.service-media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  padding: 0 20px;
}

.service-media {
  width: 30%;
  height: 100px;
  position: relative;
}
.service-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service-text {
  font-size: 12px;
  width: 80%;
  flex-wrap: wrap;
  text-align: center;
}

.service-media__img {
  display: flex;

  width: 100%;
  border-radius: 10px;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  left: 0;
}
.service-media i {
  position: relative;
  right: 10px;
}

.service-points {
  margin-top: 20px;
}
.service-point__container {
  display: flex;
  flex-direction: row;
}
.service-point__icon {
  margin-right: 20px;
  width: min-content;
  padding: 10px;
  border: 2px solid #4759f5;
  border-radius: 100%;
  transition: all 0.3s ease-in;
  height: min-content;
}
.service-point__icon:hover {
  background-color: #4759f5;
  color: white;
  border-color: #4759f5;
}
.service-point__icon:hover + .service-point-text-container h4 {
  color: #4759f5;
}
.service-point__text-content h4 {
  margin-bottom: 0px;
  font-family: "Raleway";
  font-weight: bold;
  color: gray;
}
.service-point__text-content h4:hover {
  color: #4759f5;
}
@media only screen and (min-width: 600px) {
  .services-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .service-container {
    width: 30%;
    margin-right: 15px;
  }
  /* .service-container:first-child {
    margin-left: 20px;
  } */
}

@media only screen and (min-width: 768px) {
  .service {
    justify-content: center;
    align-items: center;
  }
  .services-container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);

    width: 100%;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 30%;
    width: 30%;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all 0.2s ease-in;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
  }

  .services-content {
    padding: 0 10%;
  }
  .service-content,
  .services-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .service-content {
    align-items: center;
    justify-content: center;
  }
  .service-media {
    width: 40%;
    height: 100px;

    position: relative;
  }
  .service-media__img {
    width: 100%;
  }
  .service-media__img path {
    transition: all 0.2s ease-in;
    fill: #f5f5f5;
  }
}
